html, body {
  height: 100%;
}

body {
  padding: 45px 0 55px;
  background-color: #fff;
}

img {
  display: block;
  width: 100%;
}

#lt_header {
  position: fixed;
  width: 100%;
  height: 45px;
  background-color: #0094ff;
  top: 0;
  left: 0;
}

#lt_header .mui-title {
  color: #fff;
}

#lt_header .h_right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  color: #fff;
  font-size: 20px;
}

.lt_view {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.lt_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 55px;
  background-color: #0094ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lt_footer a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  text-align: center;
  padding-top: 8px;
}

.lt_footer a .fa {
  font-size: 16px;
}

.lt_footer a .link_name {
  font-size: 13px;
}

.lt_footer .active {
  color: orange;
}
