// 导航
.lt_nav{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  >a{
    width: 33.33%;
  }
}

// 活动
.lt_active{
  padding: 10px;
  a:nth-child(1){
    float: left;
    width: 67%;
  }
  a:nth-child(2){
    float: right;
    width: 33%;
  }
  a:nth-child(3){
    float: left;
    width: 67%;
  }
}

// 品牌专区
.brand_list{
  padding: 10px;
  // 品牌专区
  .brand_item{
    .brand_title{}
    .brand_content{
      display: flex;
      flex-wrap: wrap;
      >a{
        width: 25%;
      }
    }
  }
  // 运动专区
  .brand_sport{
    .brand_s_title{}
    .brand_s_content{
      ul{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    justify-content: space-between;
      margin: 0;
      padding: 0;
        li{
          width: 49%;
          text-align: center;
          border: 1px solid #000;
          margin-bottom: 3px;
          padding: 10px 0;
          >img{}
          >.goods_name{
            font-size: 14px;
            color: #888;
            overflow: hidden;
            height: 40px;
          }
          >.goods_price{
            .new_price{
              color: red;
              font-size: 13px;
            }
            del{
              font-size: 12px;
              color: #888;
            }
          }
          // 按钮 立即购买
        }
      }
    }
  }
}